/* @import "tailwindcss/preflight"; */
@import "tailwindcss/preflight";

@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui";
/* {
  themes: light --default, dark --prefersdark; 
}; */
[data-theme=light] {
  --primary: #504B38;
  --secondary: #B9B28A;
  --accent: #1dcdbc;
  --neutral: #2b3440;
  --base-100: #ffffff;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
}


/* Tema Mode Gelap */
[data-theme=dark] {
  --primary: #504B38;
  --secondary: #D926AA;
  --accent: #1FB2A6;
  --neutral: #191D24;
  --base-100: #2A303C;
  --info: #3ABFF8;
  --success: #36D399;
  --warning: #FBBD23;
  --error: #F87272;
}

.scrollbar-thin-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e0 transparent; /* Warna scrollbar */
}

.scrollbar-thin-custom::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* abu-abu */
  border-radius: 4px;
}
.scrollbar-thin-custom::-webkit-scrollbar-track {
  background: transparent;
}

* {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

[data-sonner-toast] {
  animation: slideIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slideIn {
  from {
    transform: translateY(-100%) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

[data-sonner-toast][data-styled="true"] {
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}